.Hero-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    height: 100vh;
    overflow: hidden;
    /* background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 1) 100%); */
}

.Hero-Content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
    text-align: center;
    
}

.Hero-Txt {
    flex: 1;
    
}

.Hero-Txt h1 {
    margin: 0; 
    line-height: 1.3;
    font-size: 120px;
    display: flex;
    justify-content: center; 
}

.letter {
    display: inline-block;
    font-size: inherit;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #fff,#fff,#bbb, #777); /* Soft gray gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: transform 0.1s ease-out, text-shadow 0.3s ease-in-out;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
    opacity: 0.85; 
}
.desc{
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2%;
    text-align: center;
    line-height: 1.6;
    max-width: 800px;
    animation: fadeIn 1s ease-in-out;
}

.Location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.location-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.address {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
    .letter {
        font-size: 2.5rem;
    }
    
    .desc {
        font-size: 1.2rem;
    }
    
    .address {
        font-size: 1.4rem;
    }
}